
$primary-font-family: arial, verdana, tahoma;
//$google1-font-family: unquote("Permanent+Marker");
//@import url("http://fonts.googleapis.com/css?family=#{$google1-font-family}");
$base-line-height: 24px;

$primary-color-1: #fff;
$primary-color-2: #CE8CBB;
$primary-color-3: grey;

$secondary-color: #ccc;

